body {
  font-family: sans-serif;
}
.header {
  color: rgb(74, 158, 74);
}
#title {
  display: flex;
  justify-content: center;
}

.coins {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.past {
  justify-content: space-between;
}

.instructions {
  display: flex;
  justify-content: center;
}
